.right{
    /*display: flex;*/
}

.button {
    border:1px solid #1B73BA;
    background-color: #fff;
    color:  #1B73BA;;
    font-size: 14px;
    transition: .2s all;
    height: 40px;
    width: 150px;
}
.button:hover{
    border: 2px solid #1B73BA;
}

.button:active{
    background-color: #1B73BA;
    color: #fff;
}

.pulldown {
    /* display: flex; */
    padding-bottom: 20px;
    position: relative;
}
.pulldown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/img/btn.png) no-repeat right;
    border-top: 1px solid #1B73BA;
    border-bottom: 1px solid #1B73BA;
    border-left: 1px solid #1B73BA;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #333;
    text-indent: .01px;
    padding: 10px;
    height: 40px;
    width: 200px;
}