.right{
    display: flex;
}
.container{
    margin-bottom: 20px;
}

.button {
    border:1px solid #1B73BA;
    background-color: #fff;
    color:  #1B73BA;;
    font-size: 14px;
    transition: .2s all;
    height: 40px;
    width: 200px;
}
.button:hover{
    border: 2px solid #1B73BA;
}

.button:active{
    background-color: #1B73BA;
    color: #fff;
}

.pulldown {
    /* display: flex; */
    position: relative;
}
.pulldown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/btn.png) no-repeat right;
    border-top: 1px solid #1B73BA;
    border-bottom: 1px solid #1B73BA;
    border-left: 1px solid #1B73BA;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #333;
    text-indent: .01px;
    padding: 10px;
    height: 40px;
    width: 250px;
}
table {
    width: 60%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 22px;
}

table thead th {
    color: #1B73BA !important;
    padding-bottom: 10px;
}

table tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}


table tbody tr td {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 30px 30px;
    max-width: 640px;
    word-break: break-all;
}


table tbody tr td img.icon {
    margin-left: 0;
}